/* РАЗМЕТКА */

html, body {
	height: 100%;
	width: 100%;
	background-color: rgb(210,226,241);
}
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

img {
	border: none;
}

.wrapper {
	width: 720px;
	margin: 20px auto;
	height: 490px;
}
.searching_job, 
.offering_job {
	width: 340px;
	height: 480px;
	border-bottom: 35px solid rgb(241,241,241);
	background-color: white;
	box-shadow: 0 0 10px 8px #bbb;
}
.searching_job {
	float: left;
}
.offering_job {
	float: right;
}

.center {
	width: 720px;
	margin: 0 auto;
}

/* END РАЗМЕТКА */






/* HEADER */
.about_us > header {
	background-color: rgb(55, 55, 55);
	width: 100%;
	height: 40px;
}
.enter {
	float: right;
	height: 40px;
	width: 80px;
}
.enter p {
	margin-top: 10px;
	color: rgb(255, 144, 0);
	font-size: 12px;
}
.enter_pic {
	float: left;
	padding: 5px 5px 0 0;
}

/* END HEADER */










/* NAVIGATION */
nav {
	background-color: #fff;
	height: 35px;
	width: 100%;
	box-shadow: inset 0 3px 5px 1px #ccc;	
}
nav li{
	list-style-type: none;
	display: inline-block;
	padding: 0 15px;
	float: left;
	border-left: 1px solid #999;
	margin-top: 5px;
}


nav li:first-child {
	border-left: none;
}

nav a {
	font-family: Arial, Sans-serif;
	font-size: 12px;
	color: #333;
}

.about_us .nav_about_us {
	border-top: 4px solid rgb(255, 144, 0);
	margin-top: 0;
}

/* END NAVIGATION */










/* CONTENT */
.searching_job header,
.offering_job header {
	text-align: center;
	font-family: Arial, Sans-serif;
	font-size: 16px;
	color: white;
	padding: 10px 0;
	margin-top: 0;
	height: 35px;
}

.searching_job header {
	background-color: rgb(255, 144, 0);
}
.offering_job header {
	background-color: rgb(148, 148, 148);
}
.searching_job form,
.offering_job form {
	padding: 10px 20px;
	font-family: Arial, Sans-serif;
	font-size: 12px;
	color: #333;
	line-height: 150%;
}

input,
textarea {
	width: 290px;
	margin: 0 auto;
	background-color: rgb(245, 245, 245);
	border: none;
	border-left: 5px solid rgb(230, 230, 230);
	border-radius: 3px;
	font-family: Arial, Sans-serif;
	font-size: 12px;
}
input {
	height: 30px;
}
textarea {
	height: 50px;
}


.searching_job input:focus {
	border-left: 5px solid rgb(255, 144, 0);
}

.offering_job input:focus,
.offering_job textarea:focus {
	border-left: 5px solid rgb(119, 119, 119);
}


#salary, #salary2{
	width: 80px;
	margin-right: 20px;
}
#salary3 {
	width: 80px;
}

select {
	background-color: rgb(245, 245, 245);
	border: none;
	border-left: 5px solid rgb(230, 230, 230);
	border-radius: 3px;
	height: 30px;
}

[placeholder] {
	padding-left: 10px;
}

.button {
	margin: 10px 0;
	border-radius: 5px;
	border-left: none;
	text-align: center;
	color: white;
}
.searching_job .button {
	background-color: rgb(254, 162, 39);
	border-right: 30px solid rgb(255, 144, 0);
}
.offering_job .button {
	background-color: rgb(119, 119, 119);
	border-right: 30px solid rgb(100, 100, 100);
}

#div_salary {
	width: 290px;
	height: 30px;
}

/* END CONTENT */












/* FOOTER */


.about_us > footer {
	clear: both;
	background-color: rgb(55, 55, 55);
	width: 100%;
	height: 40px;
	min-width: 720px;
}
.about_us > footer a {
	font-family: Helvetica, Tahoma, Arial, Sans-serif;
	font-size: 11px;
	color: #777;
}
.footer_links a:first-child {
	border-right: 1px solid #777;
}
.footer_links a {
	padding: 0 10px;
}
.footer_links {
	float: right;
	margin-top: 8px;
}
.footer_label {
	float: left;
	margin-top: 10px;
	width: 280px;
	height: 30px;
	background-image: url("../ico/logo.jpg");
	background-repeat: no-repeat;
	background-position: right;
	background-size: auto 30px;
}

.footer_label p {
	float: left;
	margin-top: 8px;
}

.clear {
	clear: both;
}
/* END FOOTER */




